/* Configuração geral */ 
body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza todo o conteúdo */
    overflow-x: hidden; /* Evita rolagem horizontal */
      
}

/* Estilo do cabeçalho */
header {
    width: 100%;
    padding: 20px;
    text-align: left; /* Agora o título vai para a esquerda */
}

header h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 28px;
    color: white;
    margin: 0;
    padding-left: 30px;
}

/* Perfil do usuário */
.perfil {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px;
    width: 100%;
    max-width: 1000px;
    margin-left: 160px; /* move a seção perfil */
}

.perfil img {
    width: 215px;
    height: 215px;
    border-radius: 15px;
}

.perfil-info h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.perfil-status {
    display: flex;
    gap: 50px;
    font-size: 20px;
    margin-top: 40px;
    position: relative;
    top: 0;
}

.perfil-status div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.perfil-status span {
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
}

/* Seções */
.seção {
    padding: 20px 0;
    width: 100%;
    max-width: 1000px;
    text-align: left; /* muda de center para left */
    margin-left: 100px; /* empurra tudo um pouco da borda esquerda */
}

.seção h2 {
    font-size: 24px;
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
    position: relative;
    margin-bottom: 10px;
    text-align: left; /* Alinha o título à esquerda */
}

.seção h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: #fff;
    margin: 8px auto 0;
}

/* Listas (animes, mangás, filmes) */
.anime-lista,
.manga-lista,
.filme-lista {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 15px;
    margin-top: 10px;
}

.anime-lista img,
.manga-lista img,
.filme-lista img {
    width: 100px;
    height: 150px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.anime-lista img:hover,
.manga-lista img:hover,
.filme-lista img:hover {
    transform: scale(1.1);
}

/* Personagens favoritos */
.review {
    background-color: #1e1e1e;
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    max-width: 1000px;
    margin: 10px auto;
}

.review img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.review img:hover {
    transform: scale(1.1);
}
