/* Importando fontes */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Pixelify+Sans&display=swap');

body {
    background-color: #121212;
    color: #ddd;
    margin: 0;
    padding: 0;
}

header h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    color: #ffffff;
    text-align: left;
    padding: 25px;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 22px;
    margin-bottom: 25px;
    color: #ffffff;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Ajustando título "Configurações de Perfil" */
.perfil-config h2 {
    margin-top: -1px; /* Ajuste para subir o título */
    text-align: left;
}

/* Seções */
.perfil-config, .notificacoes {
    width: 60%;
    margin: 20px auto;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}

/* Container do perfil */
.perfil-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajuste para separar conteúdo e imagem */
}

.perfil-imagem {
    align-items: center;
    position: static;
}

.perfil-editar {
    flex-grow: 0.5; /* Faz o formulário ocupar mais espaço */
}

.perfil-config img {
    width: 195px;
    height: 195px;
    border-radius: 10px;
    position: relative;  /* Permite mover a imagem */
    top: 20px; /* Move para baixo */
    left: 170px; /* Move para a esquerda */
}

/* Estilizando inputs */
.input-container {
    position: relative;
    margin-bottom: 15px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #2c2c2c;
    color: #ddd;
    border-radius: 5px;
}

.input-container .edit-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ddd;
}

/* Notificações */
.notificacao-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2c2c;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    appearance: none;
    width: 40px;
    height: 20px;
    background-color: #555;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

input[type="checkbox"]:checked {
    background-color: #00ff99;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    top: 1px;
    left: 2px;
    transition: 0.3s;
}

input[type="checkbox"]:checked::before {
    left: 20px;
}
